body {
  font-family: "Lato", sans-serif;
  font-size: 15px;
}

footer {
  text-align: center;
}

p{
 font-size:15px;
 font-family: 'Roboto', sans-serif;
}

h2{
  font-family: 'Bungee Inline', cursive;
  padding: 5px;
  font-family: 'Bungee Inline', cursive;
}

h3{
  padding: 5px;
  font-family: 'Bungee Inline', cursive;
  font-size: 20px;
}

ul{
  font-size:20px;
}

.aboutus{
  font-size:20px;
}
.centretext{
  text-align: center;
}

.sidenav {
  height: 100%;
  width: 160px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 20px;
}

.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
}

.sidenav a:hover {
  color: #f1f1f1;
}

#map{
  height:300px;
  width:400px;
  padding-left:25%;
  padding-top:50%;
}

.container{
  padding-left:160px;
}

.about{
  font-size:20px;
}

.important{
color: #329E62;
font-size: 17px;
font-family: 'Bungee Inline', cursive;
}

#openingtimes {
  font-size: 12px;
}

#aboutus{
  background-color: #329E62;
  font-size: 18px;
}

#quizbtn{
  padding: 10px;
}

#events{
  background-color:#81CEA2;
}

#images {
    padding-left: 160px;
}

#nesnav{
  font-size:17px;
}

#collection{
  padding:5px;
}

#cardpic{
  width:275px;
  height:275px;
}


#articleimage{
  width: 465px;
  height:270px;
}

#alerttext{
  font-size: 12px;
}

#footer{

}

.right{
  font-size:16px;
  text-align:right;
  color:#B4B8C5;
}

#header{
  background-color: #329E62;
  height:100px;
  padding-left: 190px;
}

#repurpose{
  padding-left: 40px;
}
#advice{
  padding-bottom: 20px;
}

#fbicon{
  color:#1877F2;
  padding: 5px;
}

#ig{
  padding:5px;
  color:#D52F87;
}

.card{
  padding:5px;
}
.card-text{
  font-size:14px;
}

.main {
  padding-left: 160px; /* Same as the width of the sidenav */
  font-size: 28px; /* Increased text to enable scrolling */
  padding: 0px 10px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
