body {
  font-family: "Lato", sans-serif;
  font-size: 15px;
  padding-bottom: 20px;
}

footer {
  text-align: center;
  position:absolute;
}

p{
 font-size:15px;
 font-family: 'Roboto', sans-serif;
}


h2{
  font-family: 'Bungee Inline', cursive;
  padding: 5px;
  font-family: 'Bungee Inline', cursive;
}

h3{
  padding: 5px;
  font-family: 'Bungee Inline', cursive;
  font-size: 20px;
}

h4{
  padding: 5px;
  font-family: 'Bungee Inline', cursive;
  font-size: 16px;
}

ul{
  font-size:20px;
}

.aboutus{
  font-size:20px;
}
.centretext{
  text-align: center;
}

.quizbody{
  background-color:#81CEA2;
}

.sidenav {
  height: 100%;
  width: 160px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 20px;
}

.break{
  background-color: #818181;
  height: 4px;
}

.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  color: #818181;
  display: block;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.map-body{
  padding-left: 25%;
}

.map{
  height:60px;
  width:100%;
  padding-left:25%;
}
.container{
  padding-left:160px;
}

.about{
  font-size:20px;
}

.important{
color: #329E62;
font-size: 17px;
font-family: 'Bungee Inline', cursive;
padding:0;
}

.links{
  color: #81CEA2;
}

#openingtimes {
  font-size: 12px;
}

#navitem{
  font-size: 25px;
}
#adviceimg
{
  padding-right: 10px;
}

#socials{
  float: left;
}

#advicebtn{
  float:right;
}

#adviceimg2
{
  padding-left: 15px;
}

#aboutus{
  background-color: #329E62;
  font-size: 18px;
}

#quizbtn{
  padding: 10px;
}

#advicelist{
  padding:2px;

}

#events{
  background-color:#81CEA2;
}

#images {
    padding-left: 160px;
}

#txt2advice{
background-color: #818181;
  padding-left: 10;
}

#txt3advice{
    padding-left: 10;
}

#txt4advice{
    padding-left: 10;
    background-color: #329E62;
}

#endadvice{
background-color: #818181;
 bottom: 0;
 width: 100%;
 height:100px;
 text-align: center;
 margin: 0;
padding-left:160px;
}

}
#nesnavs{
  font-size:10px;
  padding-top: 2px;
}

#collection{
  padding:5px;
}

#txt1advice{
    background-color:#81CEA2;
    padding-left: 10;
}

#cardpic{
  width:275px;
  height:275px;
}


#articleimage{
  width: 465px;
  height:270px;
}

#alerttext{
  font-size: 12px;
}


.right{
  font-size:16px;
  text-align:right;
  color:#B4B8C5;
}

#header{
  background-color: #329E62;
  height:100px;
  padding-left: 190px;
}

#repurpose{
  padding-left: 40px;
}
#advice{
  padding-bottom: 20px;
}

#fbicon{
  color:#1877F2;
  padding: 5px;
  height:20px;
}

#ig{
  padding:5px;
  color:#D52F87;
  height: 20px;
}

#contact{
  padding-right: 40px;
}

#quizhead{
text-align: center;
font-family: 'Bungee Inline', cursive;
 padding-left: 140px;
 padding-right: 100px;
}

.result{    // css for the result of the quiz
text-align: center;
  font-size: 15px;
  font-size: 50px;
padding-left: 170px;
}

.question{    //css for the quiz questions
  font-size: 15px;
  font-weight: 800;
  font-family: 'Bungee Inline', cursive;
}
#quizcon{   // the quiz is contained in this container
  position: relative;
  height: 490px;
  width:700px;
  margin-top: 40px;
  padding-left: 10px;
  padding-bottom: 200px;
  margin-left: 340px;
  background-color: white;
}

#resultcon{
  font-family: 'Bungee Inline', cursive;
  background-color: #329E62;
  margin-left:340px;
  width:700px;
}

#quiz{
  padding-left: 200px;
  padding-right: 200px;
  padding-bottom: 0;
}

.quiz{
  text-align: center;
}

.second{
  font-size: 16;
}

.card{
  padding:5px;
}
.card-text{
  font-size:14px;
}

.main {
  padding-left: 160px; /* Same as the width of the sidenav */
  font-size: 28px; /* Increased text to enable scrolling */
  padding: 0px 10px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
